<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <img src="https://hoanghamobile.com/Content/web/img/logo-text.png" alt="">
                        <br>
                        <strong>Phone:</strong> tel:1900.20919<br>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Hỗ Trợ - Dịch Vụ</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Mua hàng trả góp</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tra cứu đơn hàng</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#"></a>Phạm vi, điều khoản gói bảo hành mở rộng
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo hành</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Thông tin liên hệ</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Bán hàng Online</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chăm sóc khách hàng</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hỗ trợ kĩ thuật</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Liên hệ khối văn phòng</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hợp tác kinh doanh</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>thanh toán miễn phí</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <img
                                src="https://hoanghamobile.com/Content/web/img/logo-visa.png" alt=""
                                style="width: 100px;"></li> <br>
                        <li><i class="bx bx-chevron-right"></i><img
                                src="https://hoanghamobile.com/Content/web/img/logo-master.png" alt=""
                                style="width: 100px;"> </li><br>
                        <li><i class="bx bx-chevron-right"></i><img
                                src="https://hoanghamobile.com/Content/web/img/logo-jcb.png" alt=""
                                style="width: 100px;"> </li><br>
                        <li><i class="bx bx-chevron-right"></i><img
                                src="https://hoanghamobile.com/Content/web/img/logo-samsungpay.png" alt=""
                                style="width: 100px;"></li><br>
                        <li><i class="bx bx-chevron-right"></i><img
                                src="https://hoanghamobile.com/Content/web/img/logo-vnpay.png" alt=""
                                style="width: 100px;"></li><br>
                    </ul>

                </div>


                <!-- <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Hỗ Trợ - Dịch Vụ</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Mua hàng trả góp</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Hướng dẫn đặt hàng và thanh toán</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tra cứu đơn hàng</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#"></a>Phạm vi, điều khoản gói bảo hành mở rộng
                        </li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo hành</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>


</footer><!-- End Footer -->