<form class="form form-login" (ngSubmit)="onSubmit()">
    <div class="imgcontainer">
        <img src="https://tse1.mm.bing.net/th?id=OIP.SoOuxtPK4yNwRsScmAYGWgHaHa&pid=Api&rs=1&c=1&qlt=95&w=121&h=121"
            alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="username" class="form-label">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" id="username" name="username"
            [(ngModel)]="credentials.username" required />

        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"
            required />
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>