<form [formGroup]="form" class="form form-login" (ngSubmit)="onSubmit()">
    <div class="imgcontainer">
        <img src="https://tse1.mm.bing.net/th?id=OIP.SoOuxtPK4yNwRsScmAYGWgHaHa&pid=Api&rs=1&c=1&qlt=95&w=121&h=121"
            alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <div>
            <label for="username" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" id="username"
                name="username" [(ngModel)]="credentials.username" required
                formControlName="email" />
            <div class="error"
                *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
                <div *ngIf="form.get('email')?.errors?.['required']">Email là trường bắt buộc</div>
                <div *ngIf="form.get('email')?.errors?.['email']">Email không đúng định dạng</div>
            </div>
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password"
                [(ngModel)]="credentials.password" required formControlName="password" />
            <div class="error "
                *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                <div *ngIf="form.get('password')?.errors?.['required']">Password là trường bắt buộc
                </div>
                <div *ngIf="form.get('password')?.errors?.['minlength']">Password tối thiểu có 6 ký
                    tự.
                </div>
            </div>
        </div>
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>