<h2>Register</h2>
<form [formGroup]="form" class="form form-register" (ngSubmit)="onSubmit()">
    <div class="md-3">
        <label for="username" class="form-label">Your Username:</label>
        <input type="username" id="username" name="username" [(ngModel)]="user.username" required
            minlength="3" class="form-control" aria-describedby="emailHelp"
            formControlName="username" />

        <div class="error"
            *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)">
            <div *ngIf="form.get('username')?.errors?.['required']">Username là trường bắt buộc
            </div>
            <div *ngIf="form.get('username')?.errors?.['minlength']">Username tối thiểu có 3 ký tự.
            </div>
            <div *ngIf="form.get('username')?.errors?.['maxlength']">Username tối đa có 20 ký tự
            </div>
        </div>
    </div>
    <div class="md-3">
        <label for="email" class="" form-label>Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required
            class="form-control" aria-describedby="emailHelp" formControlName="email" />
        <div class="error"
            *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
            <div *ngIf="form.get('email')?.errors?.['required']">Email là trường bắt buộc</div>
            <div *ngIf="form.get('email')?.errors?.['email']">Email không đúng định dạng</div>
        </div>
    </div>
    <div class="md-3">
        <label for="password" class="" form-label>Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required
            class="form-control" formControlName="password" />

        <div class="error "
            *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
            <div *ngIf="form.get('password')?.errors?.['required']">Password là trường bắt buộc
            </div>
            <div *ngIf="form.get('password')?.errors?.['minlength']">Password tối thiểu có 6 ký tự.
            </div>
        </div>
    </div>

    <div class="md-3">
        <label for="confirmpassword" class="" form-label>Confirm Password:</label>
        <input type="confirmpassword" id="confirmpassword" name="confirmpassword" required
            class="form-control" formControlName="confirmpassword" />

        <div class="error "
            *ngIf="form.get('confirmpassword')?.invalid && (form.get('confirmpassword')?.dirty || form.get('confirmpassword')?.touched)">
            <div *ngIf="form.get('confirmpassword')?.errors?.['required']">Confirmpassword là trường
                bắt buộc
            </div>
            <div *ngIf="form.controls['confirmpassword'].hasError('mismatch')">Passwords không khớp
            </div>
        </div>
    </div>
    <button class="btn btn-primary register" type="submit">Register</button>
</form>