<div>
  <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2023/04/26/thu-cu-doi-moi-iphone-14-web-01.jpg" alt=""
    class="banner1">
  <div class="row">
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content1">
        <h2>thu cũ đổi mới</h2>
        <h5>thu cũ đổi mới giá cao</h5>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content1">
        <h2>laptop rẻ hết cỡ</h2>
        <h5>chào đón mùa hè</h5>

      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content1">
        <h2>hè tới săn nokia mới</h2>
        <h5>Nokia G22</h5>

      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content1">
        <h2>đồng hồ thông minh</h2>
        <h5>tặng ngay dây đeo thay thế</h5>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content2">
        <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2023/05/12/group-203.png" alt="">
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content2">
        <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2023/05/08/group-194.png" alt="">
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content2">
        <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2023/05/04/ipad.png" alt="">
      </div>
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12">
      <div class="content2">
        <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2023/05/15/group-202.png" alt="">
      </div>
    </div>
  </div>

  <h1><strong> Sản phẩm nổi bật</strong></h1>
  <section id="home-section">
    <div class="container" style="margin-top: 40px;">
      <div class="row">
        <div class="col-4" *ngFor="let product of products">
          <div class="card product-item">
            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}"
              style="height: 400px; margin-top: 30px;" />
            <div class="card-body">
              <div class="card-title">
                {{ product.name }}
              </div>
              <p class="card-text">Price: {{ product.price }}</p>
              <button class="btn btn-primary">Xem chi tiết</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <img src="https://cdn.hoanghamobile.com/i/home/Uploads/2023/05/15/1200x200_638197677632794495.png" alt=""
    class="banner2">
  <div class="box1">
    <h5>Smart tv</h5>
  </div>
  <section id="home-section">
    <div class="container" style="margin-top: 40px;">
      <div class="row">
        <div class="col-4" *ngFor="let product of products">
          <div class="card product-item">
            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}"
              style="height: 400px; margin-top: 30px;" />
            <div class="card-body">
              <div class="card-title">
                {{ product.name }}
              </div>
              <p class="card-text">Price: {{ product.price }}</p>
              <button class="btn btn-primary">Xem chi tiết</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="box1">
    <h6>phụ kiện</h6>
  </div>
  <div class="row">
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.XGX7yWDMggxcFhlZ9iqmbwHaHa&pid=Api&rs=1&c=1&qlt=95&w=112&h=112"
          alt="">
        <h2>Loa</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.HhZLMIFQHaybcXmTFyUR5wHaHa&pid=Api&rs=1&c=1&qlt=95&w=114&h=114"
          alt="">
        <h2>Máy Ảnh</h2>

      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.jFjaQFIsh1LRxaDLqjJ-XgHaHa&pid=Api&rs=1&c=1&qlt=95&w=123&h=123"
          alt="">
        <h2>Sạc dự phòng</h2>

      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.xbGjANQQsqRp_J7czdLObAHaHa&pid=Api&rs=1&c=1&qlt=95&w=105&h=105"
          alt="">
        <h2>Quạt</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.dejFFCqaOEQfGXLIhpxB7wAAAA&pid=Api&rs=1&c=1&qlt=95&w=117&h=117"
          alt="">
        <h2>Camera an ninh</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.NqdMbekBk4KS9D7UzLizLAHaHa&pid=Api&rs=1&c=1&qlt=95&w=122&h=122"
          alt="">
        <h2>Thiết bị mạng</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.e6exRZbM-cJ9sn3aD3b8xQHaHa&pid=Api&rs=1&c=1&qlt=95&w=120&h=120"
          alt="">
        <h2>Chuột</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.f_nEhgdFa6ZcLiTWtRHrrAHaFX&pid=Api&rs=1&c=1&qlt=95&w=171&h=124"
          alt="">
        <h2>camera hành trình</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.wCHUGzLLDE-jYHC2EnuziQHaEN&pid=Api&rs=1&c=1&qlt=95&w=145&h=82"
          alt="">
        <h2>bàn phím</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.hIFaZ5KpjOk8-kG5roEYxwHaHd&pid=Api&rs=1&c=1&qlt=95&w=113&h=114"
          alt="">
        <h2>máy lọc không khí</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.BSKBbo4jx_AYRXkbLDuJMgHaHa&pid=Api&rs=1&c=1&qlt=95&w=115&h=115"
          alt="">
        <h2>robot hút bụi</h2>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 col-sm-12">
      <div class="content3">
        <img src="https://tse1.mm.bing.net/th?id=OIP.WnM6IHmX8EQfrDMws110NgHaHa&pid=Api&rs=1&c=1&qlt=95&w=121&h=121"
          alt="">
        <h2>ốp lưng
        </h2>
      </div>
    </div>
  </div>
  <div class="box1">
    <h6>Tin công nghệ</h6>
  </div>
  <div class="row" style="margin-top: 30px ;background-color: white; ">
    <div class="col-xl-6 col-md-6 col-sm-12">
      <img
        src="https://cdn1.hoanghamobile.com/tin-tuc/wp-content/uploads/2023/05/Sam-tivi-khong-phai-nghi-01-768x421.jpg"
        alt="" style="width: 700px; height: 400px;">
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12" style="text-align:center ;padding-top: 20px;">
      <Strong>
        <h3 style="color: #D54D55;
      ">Tại sao nên sắm SmartTV tại Hoàng Hà? Chính sách vận chuyển rõ ràng. Ưu đãi bạt ngàn và…</h3>
      </Strong>
      <h5 style="margin-top: 10px ; margin-left: 20px;">
        Nếu có một vật dụng trong nhà có thể kết nối mọi người, thì chắc chắn phải là chiếc TV. Đây là nơi cả nhà có thể
        quây quần giải trí sau một ngày dài làm việc học tập & làm việc căng thẳng.

        Và khi cần tìm một địa chỉ mua SmartTV chính hãng và uy tín nhất, chắc chắn Hoàng Hà Mobile sẽ là địa điểm hàng
        đầu. Giá tốt, sản phẩm uy tín, và chính sách bán hàng rõ ràng chắc chắn sẽ làm hài lòng khách hàng khi tới mua
        sắm SmartTV tại hệ thống của Hoàng Hà Mobile!

        Cùng tìm hiểu chi tiết tại bài viết sau đây!

        1. Chính sách Vận chuyển cụ thể & rõ ràng
        a. Tại các tỉnh/thành có cửa hàng Hoàng Hà Mobile
        Ưu đãi giảm 100.000Đ khi khách hàng mua tivi và tự vận chuyển (áp dụng với cửa hàng không phải luân chuyển hàng
        từ tỉnh – tỉnh)
        Trường hợp không nhận ưu đãi, Hoàng Hà Mobile sẽ miễn phí vận chuyển và công lắp đặt cho khách hàng
      </h5>
      <button class="btn btn-primary">Xem chi tiết</button>
    </div>
  </div>
  <div class="row" style="margin-top: 50px ;background-color: white; ">

    <div class="col-xl-6 col-md-6 col-sm-12" style="text-align:center ;padding-top: 20px;">
      <Strong>
        <h3 style="color: #D54D55;
      ">Check-in liền tay, nhận ngay quà xịn tại 4 chi nhánh Ninh Bình, Thái Bình, Hà Nam, Nam Định</h3>
      </Strong>
      <h5 style="margin-top: 10px ; margin-left: 20px;">
        Khách hàng khi tới mua sắm trực tiếp tại 4 chi nhánh (Ninh Bình, Thái Bình, Hà Nam, Nam Định) sau đó đăng bài
        check-in trên Facebook cá nhân chế độ công khai, kèm hashtag hợp lệ #hoanghamobile sẽ nhận được:

        Tặng áo mưa hoặc mũ bảo hiểm với hóa đơn trên 3 triệu
        Tặng bình nước khi mua bất kỳ sản phẩm nào tại cửa hàng, khách hàng checkin tại cửa hàng với
        hashtag:#hoanghamobile
      </h5>
      <button class="btn btn-primary">Xem chi tiết</button>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
      <img
        src="https://cdn1.hoanghamobile.com/tin-tuc/wp-content/uploads/2023/05/Ctrinh-mua-hang-tang-ao-mua-01-3-803x420.jpg"
        alt="" style="width: 700px; height: 400px;">
    </div>
  </div>
</div>